.blog {
    background-color: #F8F9F9;
    
    .blog-card {
        position: relative;
        display: block;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        height: 300px;

        &:before {
            z-index: 1;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, .8) 99%, rgba(0, 0, 0, .8) 100%);
            background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, .8) 99%, rgba(0, 0, 0, .8) 100%);
            background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, .8)), to(rgba(0, 0, 0, .8)));
            background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, .8) 99%, rgba(0, 0, 0, .8) 100%);
            background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, .8) 99%, rgba(0, 0, 0, .8) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
        }

        .blog-card-text {
            color: white;
            position: absolute;
            bottom: 0;
            z-index: 10;
            padding: 20px;
            max-width: 350px;

            h2 {
                font-size: 1rem;
            }
        }
    }
}